<div class="jumbotron">
  <h2><%= gettext "HelloWelcome to %{name}", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
   <%= if @current_user do %>
        <h2>Welcome????, <%= @current_user.name %>!</h2>
        <img src="<%= @current_user.avater %>" class="img-circle"/>
        <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
   <% end %>
</div>
